extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner BABABOOEY
        div.Message
            div.Title
                h3 Making the Best
                h1 Banana For Monky
            span.Details Access the Bababooey Web Portal
        div.NavButtons
            if isAuthenticated
                a(href="/user")
                    div.NavButton My Profile
            else
                a(href="/login")
                    div.NavButton Log in