extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner CITY-DB
        div.Message
            div.Title
                h3 Welcome to
                h1 CITY-DB
            span.Details Log in to access the CITY-DB Web Portal
        div.NavButtons
            if isAuthenticated
                a(href="/user")
                    div.NavButton Main Menu
            else
                a(href="/login")
                    div.NavButton Log in